.button {
  padding: 1.2rem 2rem;
  font-weight: var(--fwSemiBold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

.button:where(:hover, :focus) {
  background-color: var(--themeBg);
}

.button[data-variant="primary"] {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  background-color: var(--themeElement);
  box-shadow: var(--elevation);
}
