.dropdown {
  position: relative;
}

.dropdown :where(button) {
  background-color: var(--themeElement);
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  box-shadow: var(--elevation);
  border-radius: var(--radius);
}

.dropdown :where(ul) {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: var(--themeElement);
  display: grid;
  text-align: left;
  box-shadow: var(--elevation);
  border-radius: var(--radius);
}

.dropdown :where(li) {
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.dropdown :where(li:where(:hover, :focus, .is-selected)) {
  background-color: var(--themeBg);
}
