.dropdown {
  position: relative;
}

.dropdown > button {
  background-color: var(--themeElement);
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  box-shadow: var(--elevation);
  border-radius: var(--radius);
}

[role="menu"] {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: var(--themeElement);
  display: grid;
  box-shadow: var(--elevation);
  border-radius: var(--radius);
}

[role="menuitem"] {
  text-align: left;
  padding: 1rem 1.4rem;
  cursor: pointer;
}

[role="menuitem"]:is(:hover, :focus, [data-selected="true"]) {
  background-color: var(--themeBg);
}
